.SignIn{
	-webkit-box-shadow: 0px 3px 24px 0px white;
	-moz-box-shadow: 0px 3px 24px 0px white;
	box-shadow: 0px 3px 24px 0px white;
	height: 20em;
	width: 20em;
	display: inline-block;
	background-color: #4ADeB1;
}
.SignOut{
	display: inline-block;
}
.Content{
	text-align: center;
	margin-top: 5em;
}
.NameApp{
	font-size: 40px;
	font-family: 'Bitter', serif;
	font-weight: bold;
	color: white;
	margin-top: 24px;
	margin-bottom: 24px;
}
.bt{
	margin-top: 8px;
	width: 224px;
	height: 32px;
	border-radius: 2px;
	border: none;
	background-color: white;
	font-weight: bold;
	color: #4ADeB1;
}
.Name{
	font-weight: bold;
}
.avt{
	border-radius: 50px;
	width: 100px;
	height: 100px;
}

input{
	width: 220px;
	height: 32px;
	border-top: none;
	border-right: none;
	border-left: none;
	margin-bottom: 4px;
	border-radius: 2px;
	background-color: #4ADeB1;
	color: white;
}

body{
	background-color: #f2fef7;
}
